:root {
  --font-size: 16px;
  --line-height: 20px;
  --spacing-large: 32px;
  --spacing-medium: 16px;
  --spacing-small: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --foreground: #00f;
  }

  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00f;
    --foreground: #fff;
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  max-width: 1200px;
  min-height: 100dvh;
  padding: var(--spacing-large) var(--spacing-medium);
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

h1,
h2,
p,
a {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1,
h2 {
  display: inline-block;
  background-color: var(--foreground);
  color: var(--background);
  margin-bottom: var(--spacing-small);
}

a {
  color: inherit;
  text-decoration: underline;
}
